.input{
    padding:50px 20px;
    display: flex;
    gap:150px;
    justify-content: center;
   
}
.input > input{
    width: 400px;
    height:50px;
    border-radius: 10px;
}

.input > input::placeholder {
    padding-left:10px;
    font-weight: bold;
    opacity: .5;
    color: rgb(82, 19, 105);
}
.buttom{
    width:950px;
    background:linear-gradient(to right, rgb(82, 19, 105) , rgb(147, 91, 168));;
    border-radius: 10px;
    border:none;
    font-size:22px;
    color:white;
    height:50px;
    cursor:pointer; 
}
.buttom:active{
    background:linear-gradient(to right , rgb(147, 91, 168),rgb(82, 19, 105));;
}
.meme{
    margin:60px;
}